#grid {
    border: 5px solid black;
    width: 605px;
    height: 605px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: azure;
}

#middleLeft {
    background-color: red;
}

#bottomRight { 
    background-color: orange;
}

#topMiddle {
    background: yellow;
}

.hasBeenClicked {
    pointer-events: none;
}